.form {
    margin: 1rem auto 3rem auto;
    position: relative;
}

.search {
    background: #f1faee;
    border: 1px solid #1d3557;
    border-radius: 1rem;
    box-shadow: -5px 3px 10px rgba(29, 53, 87, .3);
    padding: 1rem;
    width: 70vw;
    max-width: 700px;
    height: 2rem;
    outline: none;
}

.search::placeholder {
    color: #1d3557;
}

.btn {
    background-color: #1d3557;
    border: 1px solid #1d3557;
    border-radius: 1rem;
    box-shadow: -2px 1px 5px rgba(29, 53, 87, .3);
    color: #f1faee;
    cursor: pointer;
    height: 2.1rem;
    padding: 0 .5rem;
    position: absolute;
    right: 0;
    outline: none;
}
